<header class="header-apps-mobile visible-xs visible-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-7 identifier">
				<div class="brand">
					<a href="#" title="Clique aqui para retornar à página inicial">Igreja Adventista do Sétimo Dia</a>
				</div>
				<div class="title">
					<hgroup>
						<h1>Aplicativos Adventistas</h1>
						<!-- <h2>{% if page.body_class contains 'iasd-assoc' %}Associação Paulistana{% endif %}</h2> -->
					</hgroup>
				</div>
			</div>
			<div class="col-md-5 visible-md visible-lg">
				{% include dropdown_nav.html %}<!--  Begin Dropdown Navigation -->
			</div>
		</div>
	</div>
</header>
<div class="visible-xs visible-sm apps-mobile-main-nav">

	<div class="iasd-main_navbar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<div class="apps-search pull-right" role="button" data-toggle="collapse" data-target="#apps-search-form-mobile" aria-expanded="false" aria-controls="apps-search-form-mobile"></div>
				<button type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand visible-xs visible-sm">Menu</span>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#" title="Home">Home</a>
					</li>			
					<li class="has-children">
						<a href="http://www.globo.com" title="Nível 1">Submenu Nível 1</a>
						<ul>
							<li class="has-children">
								<a href="#" title="Nível 1.1">Nível 1.1</a>
								<ul>
									<li class="has-children">
										<a href="http://www.uol.com.br" title="Nível 1.1.1">Nível 1.1.1</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.1.1.1">Nível 1.1.1.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.1.2">Nível 1.1.1.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.1.3">Nível 1.1.1.3</a>
											</li>
											<li>
												<a href="http://www.folha.com.br" title="Nível 1.1.1.4">Nível 1.1.1.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.1.2">Nível 1.1.2</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.1.2.1">Nível 1.1.2.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.2.2">Nível 1.1.2.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.2.3">Nível 1.1.2.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.2.4">Nível 1.1.2.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.1.3">Nível 1.1.3</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.1.3.1">Nível 1.1.3.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.3.2">Nível 1.1.3.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.3.3">Nível 1.1.3.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.3.4">Nível 1.1.3.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.1.4">Nível 1.1.4</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.1.4.1">Nível 1.1.4.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.4.2">Nível 1.1.4.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.4.3">Nível 1.1.4.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.1.4.4">Nível 1.1.4.4</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-children">
								<a href="#" title="Nível 1.2">Nível 1.2</a>
								<ul>
									<li class="has-children">
										<a href="#" title="Nível 1.2.1">Nível 1.2.1</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.2.1.1">Nível 1.2.1.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.1.2">Nível 1.2.1.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.1.3">Nível 1.2.1.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.1.4">Nível 1.2.1.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.2.2">Nível 1.2.2</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.2.1.1">Nível 1.2.1.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.2.2">Nível 1.2.2.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.2.3">Nível 1.2.2.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.2.4">Nível 1.2.2.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.2.3">Nível 1.2.3</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.2.3.1">Nível 1.2.3.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.3.2">Nível 1.2.3.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.3.3">Nível 1.2.3.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.3.4">Nível 1.2.3.4</a>
											</li>
										</ul>
									</li>
									<li class="has-children">
										<a href="#" title="Nível 1.2.4">Nível 1.2.4</a>
										<ul>
											<li>
												<a href="#" title="Nível 1.2.4.1">Nível 1.2.4.1</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.4.2">Nível 1.2.4.2</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.4.3">Nível 1.2.4.3</a>
											</li>
											<li>
												<a href="#" title="Nível 1.2.4.4">Nível 1.2.4.4</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-children">
								<a href="#" title="Nível 1.3">Nível 1.3</a>
								<ul>
									<li>
										<a href="#" title="Nível 1.3.1">Nível 1.3.1</a>
									</li>
									<li>
										<a href="#" title="Nível 1.3.2">Nível 1.3.2</a>
									</li>
									<li>
										<a href="#" title="Nível 1.3.3">Nível 1.3.3</a>
									</li>
									<li>
										<a href="#" title="Nível 1.3.4">Nível 1.3.4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" title="Nível 1.4">Nível 1.4</a>
							</li>								
						</ul>
					</li>
					<li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>						
					<li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>						
					<li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>						
					<!-- <li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>						
					<li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>						
					<li>
						<a href="#" title="Item Menu">Item Menu</a>
					</li>
					<li class="language has-children">
						<a href="#" title="Português">PT</a>
						<ul>
							<li>
								<a href="#" title="Versión en español">Versión en español</a>
							</li>
						</ul>
					</li>						 -->
				</ul>
			</div>
		</nav>
	</div>

</div>
<div class="visible-xs visible-sm">
	<!-- <div class="apps-search pull-right" role="button" data-toggle="collapse" href="#apps-search-form" aria-expanded="false" aria-controls="apps-search-form"></div> -->
	<div class="collapse" id="apps-search-form-mobile">
		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Insira as palavras-chave aqui">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Buscar</button>
				</span>
			</div>
		</form>
	</div>
</div>

<header class="header-apps hidden-xs hidden-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-5 identifier {% if page.css == 'association_v1' or page.css == 'association_v2' or page.css == null %}institutional {% unless page.institutional %}headquarters{% endunless %}{% endif %}"> 
				<div class="brand">
					<a href="#" title="Clique aqui para retornar à página inicial">Igreja Adventista do Sétimo Dia</a>
				</div>
				<div class="title">
					<hgroup>
						<h1>Aplicativos Adventistas</h1>
						<!-- <h2>{% if page.body_class contains 'iasd-assoc' %}Associação Paulistana{% endif %}</h2> -->
					</hgroup>
				</div>
			</div>
			<div class="col-md-7">
				
			<div class="iasd-main_navbar pull-right">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="navbar-brand visible-xs visible-sm">Menu</span>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#" title="Home">Home</a>
								</li>			
								<li class="has-children">
									<a href="http://www.globo.com" title="Nível 1">Submenu Nível 1</a>
									<ul>
										<li class="has-children">
											<a href="#" title="Nível 1.1">Nível 1.1</a>
											<ul>
												<li class="has-children">
													<a href="http://www.uol.com.br" title="Nível 1.1.1">Nível 1.1.1</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.1.1.1">Nível 1.1.1.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.1.2">Nível 1.1.1.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.1.3">Nível 1.1.1.3</a>
														</li>
														<li>
															<a href="http://www.folha.com.br" title="Nível 1.1.1.4">Nível 1.1.1.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.1.2">Nível 1.1.2</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.1.2.1">Nível 1.1.2.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.2.2">Nível 1.1.2.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.2.3">Nível 1.1.2.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.2.4">Nível 1.1.2.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.1.3">Nível 1.1.3</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.1.3.1">Nível 1.1.3.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.3.2">Nível 1.1.3.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.3.3">Nível 1.1.3.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.3.4">Nível 1.1.3.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.1.4">Nível 1.1.4</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.1.4.1">Nível 1.1.4.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.4.2">Nível 1.1.4.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.4.3">Nível 1.1.4.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.1.4.4">Nível 1.1.4.4</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="has-children">
											<a href="#" title="Nível 1.2">Nível 1.2</a>
											<ul>
												<li class="has-children">
													<a href="#" title="Nível 1.2.1">Nível 1.2.1</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.2.1.1">Nível 1.2.1.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.1.2">Nível 1.2.1.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.1.3">Nível 1.2.1.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.1.4">Nível 1.2.1.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.2.2">Nível 1.2.2</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.2.1.1">Nível 1.2.1.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.2.2">Nível 1.2.2.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.2.3">Nível 1.2.2.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.2.4">Nível 1.2.2.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.2.3">Nível 1.2.3</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.2.3.1">Nível 1.2.3.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.3.2">Nível 1.2.3.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.3.3">Nível 1.2.3.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.3.4">Nível 1.2.3.4</a>
														</li>
													</ul>
												</li>
												<li class="has-children">
													<a href="#" title="Nível 1.2.4">Nível 1.2.4</a>
													<ul>
														<li>
															<a href="#" title="Nível 1.2.4.1">Nível 1.2.4.1</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.4.2">Nível 1.2.4.2</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.4.3">Nível 1.2.4.3</a>
														</li>
														<li>
															<a href="#" title="Nível 1.2.4.4">Nível 1.2.4.4</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="has-children">
											<a href="#" title="Nível 1.3">Nível 1.3</a>
											<ul>
												<li>
													<a href="#" title="Nível 1.3.1">Nível 1.3.1</a>
												</li>
												<li>
													<a href="#" title="Nível 1.3.2">Nível 1.3.2</a>
												</li>
												<li>
													<a href="#" title="Nível 1.3.3">Nível 1.3.3</a>
												</li>
												<li>
													<a href="#" title="Nível 1.3.4">Nível 1.3.4</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" title="Nível 1.4">Nível 1.4</a>
										</li>								
									</ul>
								</li>
								<li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>						
								<li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>						
								<li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>						
								<!-- <li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>						
								<li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>						
								<li>
									<a href="#" title="Item Menu">Item Menu</a>
								</li>
								<li class="language has-children">
									<a href="#" title="Português">PT</a>
									<ul>
										<li>
											<a href="#" title="Versión en español">Versión en español</a>
										</li>
									</ul>
								</li>						 -->
							</ul>
						</div>
						<div class="apps-search pull-right" role="button" aria-expanded="false" aria-controls="apps-search-form" data-target='#apps-search-form'></div>
					</nav>
				</div>

			</div>
		</div>
	</div>
	<div class="collapse" id="apps-search-form">
		<div class="container">
			<form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Insira as palavras-chave aqui">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button">Buscar</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</header>