<header class="visible-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-7 identifier iasd-institutional">
				<div class="brand">
					<a href="#" title="Clique aqui para retornar à página inicial">Igreja Adventista do Sétimo Dia</a>
				</div>
				<div class="title">
					<hgroup>
						<h1>Igreja Adventista do Sétimo Dia</h1>
						<h2>{% if page.body_class contains 'iasd-assoc' %}Associação Paulistana{% endif %}</h2>
					</hgroup>
				</div>
			</div>
			<div class="col-md-5 visible-md visible-lg">
				{% include dropdown_nav.html %}<!--  Begin Dropdown Navigation  -->
			</div>
		</div>
	</div>
</header>

<!-- *************************** -->
<!-- ********* Content ********* -->
<!-- *************************** -->
<div class="iasd-institutional hidden-xs">
	{% if page.body_class contains 'iasd-assoc' %}<h2>Associação  Paulistana</h2>{% endif %}
</div>
<div class="owl-carousel dsa-home-carousel hidden-xs">
	<div style="background-image: url('img/slider_01.jpg')">
		<section class="container">
			<article>
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<p>Praesent a pretium nibh morbi vel purus porta, sodales nibh id, placerat orci lacus, aliquam et vehicula at, ullamcorper</p>	
				<a href="#" title="Clique para conhecer">Clique para conhecer</a>
			</article>
		</section>
	</div>
	<div style="background-image: url('img/slider_02.jpg')">
		<section class="container">
			<article>
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<a href="#" title="Clique para conhecer">Clique para conhecer</a>
			</article>
		</section>
	</div>
	<div style="background-image: url('img/slider_01.jpg')">
		<section class="container">
			<article>
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<p>Praesent a pretium nibh morbi vel purus porta, sodales nibh id, placerat orci lacus, aliquam et vehicula at, ullamcorper</p>
				<a href="#" title="Clique para conhecer">Clique para conhecer</a>
			</article>
		</section>
	</div>
	<div style="background-image: url('img/slider_02.jpg')">
		<section class="container">
			<article>
				<h1>Lorem ipsum dolor sit amet consectetur</h1>
				<a href="#" title="Clique para conhecer">Clique para conhecer</a>
			</article>
		</section>
	</div>
</div>