<h1>{% if include.title %}{{ include.title }}{% else %}Título do Widget{% endif %} <a href="javascript:void(0)" class="btn btn-default btn-xs pull-right iasd-widget-btn iasd-widget-apps-btn">Ver todos</a></h1>
<div class="owl-carousel iasd-apps">
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
	<div class="slider-item">
		{% include widgets/app_card.html %}
	</div>
</div>
<a href="javascript:void(0)" class="see-all-apps xs-landscape visible-xs">Ver todos</a>
