<div class="iasd-apps-widget-highlights">
	<div class="container">
		<div class="app-highlights-title">
			<h1>Em destaque</h1>
			<p>Lorem ipsum dolor sit amet</p>
			<a href="javascript:void(0)" class="see-all-apps see-all-apps-highlights btn-outline hidden-xs">Ver todos</a>
		</div>
		<div class="owl-carousel iasd-highlight-apps-carousel">
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
			<div class="slider-item">
				{% include widgets/app_card.html %}
			</div>
		</div>
	</div>
	<a href="javascript:void(0)" class="see-all-apps see-all-apps-highlights xs-landscape visible-xs">Ver todos</a>
</div>

<!--  -->