<h1>Título</h1>
<a href="#"><!-- Condicional -->
	<img src="http://placehold.it/1280x800" title="Título da Imagem">
</a>
<a href="#"><!-- Condicional -->
	<img src="http://placehold.it/1280x800" title="Título da Imagem">
</a>
<a href="#"><!-- Condicional -->
	<img src="http://placehold.it/1280x800" title="Título da Imagem">
</a>