<h1>{% if include.title %}{{ include.title }}{% else %}Título do Widget{% endif %}</h1>
<ul>
	{% for i in include %}
	{% if i[0] != 'title' %}

	{% if i[0] == 'img1' %}
	<li class="highlight youtube">
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure style="background-image: url('{% if i[1] != "" %}{{ i[1] }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}');">
				<img src="{% if i[1] != "" %}{{ i[1] }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}" class="img-responsive" alt="Título da imagem">
			</figure>
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
		</a>
	</li>
	{% else %}
	<li>
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure>
				<img src="{% if i[1] != "" %}{{ i[1] }}{% else %}/static/img/widgets/no_image_70x45.png{% endif %}" alt="Título da imagem">
			</figure>
			<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
		</a>
	</li>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>
<div class="row">
	<div class="col-md-12">
		<a href="#" title="Clique para ver todas as notícias" class="more-link">Mais notícias &raquo;</a>
	</div>
</div>
<div class="config">
	<a href="#" title="Clique para escolher as informações que sua região" class="toggle-config-link">Escolher</a>
	<div class="well">
		<form role="form">
			<div class="form-group">
				<label for="selectRegion">Escolher campo:</label>
				<div class="custom-select">
					<select id="selectRegion">
						<optgroup label="Regiões disponíveis">
							<option selected>Todos</option>
							<option>Opção de região 01</option>
							<option>Opção de região 02</option>
							<option>Opção de região 03</option>
							<option>Opção de região 04</option>
							<option>Opção de região 05</option>
							<option>Opção de região 06</option>
							<option>Opção de região 07</option>
							<option>Opção de região 08</option>
							<option>Opção de região 09</option>
						</optgroup>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Mostrar notícias</button>
		</form>
	</div>
</div>