{% if page.css == 'blogs' %}
	<div id="iasd-columnists-list">
		<h1>Outros Blogs</h1>
		<ol>
			<li>
				<a href="#" title="Clique para ir a coluna de Nome Autor">
					<figure class="img-circle">
						<img src="http://placehold.it/124x124/" alt="Título da Imagem">
						<div class="img-gradient"></div>		
					</figure>
					<h2>Nome do blog</h2>
					<p>Nome do blogueiro</p>
				</a>
			</li>
			<li>
				<a href="#" title="Clique para ir a coluna de Nome Autor">
					<figure class="img-circle">
						<img src="http://placehold.it/124x124/" alt="Título da Imagem">
						<div class="img-gradient"></div>
					</figure>
					<h2>Toarquat neque duis</h2>
					<p>Lúcia Matos</p>
				</a>
			</li>
			<li>
				<a href="#" title="Clique para ir a coluna de Nome Autor">
					<figure class="img-circle">
						<img src="http://placehold.it/124x124/" alt="Título da Imagem">
						<div class="img-gradient"></div>		
					</figure>
					<h2>Litora tempor</h2>
					<p>Blog da ADRA</p>
				</a>
			</li>
			<li>
				<a href="#" title="Clique para ir a coluna de Nome Autor">
					<figure class="img-circle">
						<img src="http://placehold.it/124x124/" alt="Título da Imagem">
						<div class="img-gradient"></div>		
					</figure>
					<h2>Taciti pron malesuada</h2>
					<p>Nome do blogueiro</p>
				</a>
			</li>
			<li>
				<a href="#" title="Clique para ir a coluna de Nome Autor">
					<figure class="img-circle">
						<img src="http://placehold.it/124x124/" alt="Título da Imagem">
						<div class="img-gradient"></div>		
					</figure>
					<h2>Aptent ad class</h2>
					<p>Nome do blogueiro</p>
				</a>
			</li>
		</ol>
	</div>
{% else %}
<div id="iasd-columnists-list">
	<h1>{% if include.title %}{{ include.title }}{% else %}Outros Colunistas{% endif %}</h1>
	<ul>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Carolyn Azo</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Fabiana Bertotti</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Fábio Bergamo</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Felipe Lemos</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Hildemar Santos</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Jael Eneas</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Karyne Correia</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Luiz Gustavo Assis</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Márcia Ebinger</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Marina Garner</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Michelson Borges</h2>
			</a>
		</li>
		<li>
			<a href="#" title="Clique para ir a coluna de Nome Autor">
				<figure class="img-circle">
					<img src="http://placehold.it/124x124/" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<h2>Paulo Lopes</h2>
			</a>
		</li>	
	</ul>
</div>
{% endif %}