<h1>{% if include.title %}{{ include.title }}{% else %}Título do Widget{% endif %}</h1>
<div class="owl-carousel posts">
	<div class="slider-item">
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure>
				<img data-src="{% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/slider_full.png{% endif %}" alt="Título da imagem" class="lazyOwl">
				<figcaption>
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
					<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="slider-item">
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure>
				<img data-src="{% if include.img2 %}{{ include.img2 }}{% else %}/static/img/widgets/slider_full.png{% endif %}" alt="Título da imagem" class="lazyOwl">
				<figcaption>
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
					<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="slider-item">
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure>
				<img data-src="{% if include.img3 %}{{ include.img3 }}{% else %}/static/img/widgets/slider_full.png{% endif %}" alt="Título da imagem" class="lazyOwl">
				<figcaption>
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
					<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="slider-item">
		<a href="#" title="Título da notícia completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure>
				<img data-src="{% if include.img4 %}{{ include.img4 }}{% else %}/static/img/widgets/slider_full.png{% endif %}" alt="Título da imagem" class="lazyOwl">
				<figcaption>
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
					<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>