<div class="well columns">
	<h1>{% if include.title %}{{ include.title }}{% else %}Colunas{% endif %}</h1>
	<div class="owl-carousel">
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img2 %}{{ include.img2 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img2 %}{{ include.img2 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img3 %}{{ include.img3 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img3 %}{{ include.img3 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img4 %}{{ include.img4 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img4 %}{{ include.img4 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img5 %}{{ include.img5 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img5 %}{{ include.img5 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img6 %}{{ include.img6 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img6 %}{{ include.img6 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img7 %}{{ include.img7 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img7 %}{{ include.img7 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img8 %}{{ include.img8 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img8 %}{{ include.img8 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img9 %}{{ include.img9 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img9 %}{{ include.img9 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
		<div class="slider-item">
			<a href="#" target="_blank" title="Clique para ler o artigo completo">
				<figure style="background-image: url({% if include.img10 %}{{ include.img10 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %});">
					<img src="{% if include.img10 %}{{ include.img10 }}{% else %}/static/img/widgets/no_image_400x400.png{% endif %}" alt="Título da imagem" />
				</figure>
				<h2>Nome do Colunista Completo</h2>
				<p class="post-taxonomy-tag">Taxonomia</p>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h3>
				<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
			</a>
		</div>
	</div>
</div>