<h1>{% if include.title %}{{ include.title }}{% else %}Galeria de fotos{% endif %}</h1>
<div class="owl-carousel galleries">
	<div class="slider-item">
		<a href="#" title="Título da foto completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure style="background-image: url('{% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}');">
				<img src="{% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}" class="img-responsive" alt="Título da imagem">
			</figure>
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
			<time>20 de Novembro de 2013</time>
			<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
		</a>
	</div>
	<div class="slider-item">
		<a href="#" title="Título da foto completo (sem ellipsis). Clique para ler a matéria completa.">
			<figure style="background-image: url('{% if include.img2 %}{{ include.img2 }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}');">
				<img src="{% if include.img2 %}{{ include.img2 }}{% else %}/static/img/widgets/no_image_740x475.png{% endif %}" class="img-responsive" alt="Título da imagem">
			</figure>
			<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
			<time>18 de Novembro de 2013</time>
			<p>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="#" title="Clique para ver todas as imagens" class="more-link">Mais imagens &raquo;</a>
	</div>
</div>