---
layout: default
title: Modelos de página IASD Bootstrap
---
<div class="jumbotron">
	<h1>Modelos de páginas IASD Bootstrap</h1>
	<p>Documentação oficial dos templates do novo Portal Adventista.</p>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Lista de templates de base</h2>
		<p>Templates genéricos, devem ser utilizados sempre que não existir demanda específica de design.</p>
		<ol>
			<li><a target="_blank" href="/samples/templates/404/" title="Base - 404.php">Base - 404.php</a></li>
			<li><a target="_blank" href="/samples/templates/base_search/" title="Base - search.php">Base - search.php</a></li>
			<li><a target="_blank" href="/samples/templates/base_solar_search/" title="Base Solr - search.php">Base Solr - search.php</a></li>
			<li><a target="_blank" href="/samples/templates/base_archive/" title="Base - archive.php para author, taxonomy, category e tag">Base - archive.php para author, taxonomy, category e tag</a></li>
			<li><a target="_blank" href="/samples/templates/super_archive/" title="Base - super_archive.php">Base - Super Archive</a></li>
			<li><a target="_blank" href="/samples/templates/base_single_post/" title="Base - single.php para post">Base - single.php para post</a></li>
			<li><a target="_blank" href="/samples/templates/base_attachment_post/" title="Base - single.php para post attachment">Base - single.php para post attachment</a></li>
			<li><a target="_blank" href="/samples/templates/base_page/" title="Base - page.php">Base - page.php</a></li>
			<li><a target="_blank" href="/samples/templates/base_notifications/" title="Base - Notifications">Base - Notifications</a></li>
			{% comment %}
			<li><a target="_blank" href="/samples/templates/base_wrong_widget/" title="Base - Widget com tamanho errado">Base - Widget com tamanho errado</a></li>{% endcomment %}
		</ol>	
		<h2>Lista de templates especiais para capas</h2>
		<ol>
			<li><a target="_blank" href="/samples/templates/departments_home_dsa/" title="Capa DSA (home.php)">Capa DSA (home.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_home_association_v1/" title="Capa de União/Associação (home.php)">Capa de União/Associação (home.php)</a></li>
			<li><a target="_blank" href="/samples/templates/prayer_requests_page" title="Capa serviço Pedidos de Oração (page.php)">Capa serviço Pedidos de Oração (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/inst_assoc_archive/" title="Lista de instituições de União/Associação (archive.php)">Lista de instituições de União/Associação (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/inst_assoc_single/" title="Informação sobre instituição de União/Associação (single.php)">Instituição de União/Associação (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/leaders_archive/" title="Lista de líderes (archive.php)">Lista de líderes (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/ministers_archive/" title="Lista de pastores (archive.php)">Lista de pastores (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/leader_single/" title="Perfil de líder (single.php)">Perfil de líder (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/minister_single/" title="Perifl de pastor (single.php)">Perifl de pastor (single.php)</a></li>					
		</ol>
		<h2>Lista de templates especiais para departamentos</h2>
		<ol>
			<li><a target="_blank" href="/samples/templates/departments_home_afam/" title="Capa de departamento (home.php)">Capa de departamento (home.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_archive_projects/" title="Lista de projetos (archive.php)">Lista de projetos (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_single_projects/" title="Capa de projeto (single.php)">Capa de projeto (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_archive_blog/" title="Capa de blog (archive.php)">Capa de blog (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_single_blog/" title="Post de blog (single.php)">Post de blog (single.php)</a></li>
			<li><a target="_blank" href="/samples/templates/departments_archive_marcadores/" title="Archive de Marcadores de Blog (archive.php)">Archive de Marcadores de Blog (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/departments_archive_testimonies/" title="Lista de testemunhos (archive.php)">Lista de testemunhos (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/departments_single_testimonies/" title="Testemunho (single.php)">Testemunho (single.php)</a></li>
			<li><a target="_blank" href="/samples/templates/departments_archive_leaders/" title="Lista de líderes (archive.php)">Lista de líderes (archive.php)</a></li>	
			<li><a target="_blank" href="/samples/templates/departments_single_leaders/" title="Perfil de líder (single.php)">Perfil de líder (single.php)</a></li>	
		</ol>
		<h2>Lista de templates especiais para portal de notícias - ASN</h2>
		<ol>
			<li><a target="_blank" href="/samples/templates/asn_home/" title="Capa do portal (home.php)">Capa do portal (home.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_cover/" title="Capa de União/Associação/Departamento/Editoria (taxonomy.php)">Capa de União/Associação/Departamento/Editoria (taxonomy.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_news/" title="Notícia (single.php)">Notícia (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_columnists" title="Lista de colunas (archive.php)">Lista de colunas (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_columns/" title="Lista de posts de uma coluna (archive.php)">Lista de posts de uma coluna (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_column/" title="Post de coluna (single.php)">Post de coluna (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_pressroom_page/" title="Sala de imprensa (page.php)">Sala de imprensa (page.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_releases/" title="Lista de Releases (archive.php)">Lista de Releases (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_releases" title="Release (single.php)">Release (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_images/" title="Lista de galerias de imagens (archive.php)">Lista de galerias de imagens (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_gallery/" title="Galeria de imagens (single.php)">Galeria de imagens (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_videos/" title="Lista de vídeos (archive.php)">Lista de vídeos (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_videos/" title="Vídeo (single.php)">Vídeo (single.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_taxonomy_magazine/" title="Lista de Edições da Revista Adventista (taxonomy.php)">Lista de Edições da Revista Adventista (taxonomy.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_archive_magazine/" title="Lista de matérias de uma edição da Revista Adventista (archive.php)">Lista de matérias de uma edição da Revista Adventista (archive.php)</a></li>					
			<li><a target="_blank" href="/samples/templates/asn_single_magazine/" title="Matéria da Revista Adventista (single.php)">Matéria da Revista Adventista (single.php)</a></li>					
		</ol>
		<h2>Portal de Blogs</h2>
		<ol>				
			<li><a target="_blank" href="/samples/templates/blogs_cover_home/" title="Capa do portal de blogs (home.php)">Capa do portal de blogs (home.php)</a></li>
			<li><a target="_blank" href="/samples/templates/blogs_cover_archive/" title="Arquivo de autores do portal de blogs (home.php)">Arquivo de autores do portal de blogs (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/blogs_internal_authors/" title="Lista de autores (archive.php)">Lista de autores (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/blogs_internal_home/" title="Home do blog de autor (home.php)">Home de blog de autor (home.php)</a></li>
			<li><a target="_blank" href="/samples/templates/blogs_internal_single/" title="Single do blog de autor (single.php)">Single do blog de autor (single.php)</a></li>
			<li><a target="_blank" href="/samples/templates/blogs_internal_contact/" title="Formulário de contato (page.php)">Formulário de contato (page.php)</a></li>
		</ol>
		<h2>Lista de templates especiais para portal institucional</h2>
		<ol>
			<li><a target="_blank" href="/samples/templates/instit_adventistas/" title="Os Adventistas (archive.php)">Os Adventistas (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_adventistas_who_are/" title="Quem são os Adventistas (page.php)">Quem são os Adventistas (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_adventistas_history/" title="História da Igreja Adventista (page.php)">História da Igreja Adventista (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_adventistas_history_world/" title="História no Mundo (page.php)">História no Mundo (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_adventistas_history_latin_america/" title="História na América Latina (page.php)">História na América Latina (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_adventistas_world/" title="Adventistas no Mundo (page.php)">Adventistas no Mundo (page.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_beliefs/" title="Crenças (archive.php)">Crenças (archive.php)</a></li>	
			<li><a target="_blank" href="/samples/templates/instit_mission_service/" title="Missão e Serviço (archive.php)">Missão e Serviço (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_mission_service_posts/bible/" title="Missão e Serviço - Estudo da Bíblia">Missão e Serviço - Estudo da Bíblia</a></li>
			<li><a target="_blank" href="/samples/templates/instit_mission_service_posts/education/" title="Missão e Serviço - Educação">Missão e Serviço - Educação</a></li>
			<li><a target="_blank" href="/samples/templates/instit_mission_service_posts/family/" title="Missão e Serviço - Família">Missão e Serviço - Família</a></li>
			<li><a target="_blank" href="/samples/templates/instit_mission_service_posts/health/" title="Missão e Serviço - Saúde">Missão e Serviço - Saúde</a></li>
			<li><a target="_blank" href="/samples/templates/instit_organization/" title="Organização (archive.php)">Organização (archive.php)</a></li>
			<li><a target="_blank" href="/samples/templates/instit_organization_posts/how/" title="Organização - Como é Organizada">Organização - Como é Organizada</a></li>
			<li><a target="_blank" href="/samples/templates/instit_organization_posts/institutions/" title="Organização - Instituições">Organização - Instituições</a></li>
			<li><a target="_blank" href="/samples/templates/instit_organization_documents/" title="Organização - Declarações e Documentos">Organização - Declarações e Documentos</a></li>
		</ol>					
	</div>
</div>