---
layout: widgets
title: Widget de Apps
---
<div>
	<h1>Carrossel de aplicativos</h1>
	<h2>Disponível para:</h2>
	<ul>
		<li>Coluna &#x2154;.</li>
	</ul>
	<h2>Observações e boas práticas:</h2>
	<p>Para assegurar que a diagramação das informações do widget seja preservada com ótima legibilidade e usabilidade, seguir as seguintes recomendações de produção de conteúdo:</p>
	<ul>
		<li>As imagens em destaque precisam ter, pelo menos, 140&times;140px de dimensão para não perderem qualidade.</li>
	</ul>
	<hr />
	<h2>Aplicação:</h2>
	<h3>Coluna &#x2154;:</h3>
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-4">
			{% include widgets/apps.html  %}
		</div>
	</div>
	<h2>Aplicação:</h2>
	<h3>Coluna &#x2154;:</h3>
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-8">
			{% include widgets/apps.html  %}
		</div>
	</div>
	<hr />
	<h2>Aplicação:</h2>
	<h3>Coluna &#x2154;:</h3>
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-12">
			{% include widgets/apps.html  %}
		</div>
	</div>
</div>