---
layout: widgets
title: Widget de Imagens
---
<div>
	<h1>Widget de Imagens</h1>
	<h2>Disponível para:</h2>
	<ul>
		<li>Coluna &#x2153;;</li>
		<li>Coluna &#x2154;.</li>
		<li>Coluna inteira.</li>
	</ul>
	<hr />
	<h2>Aplicações:</h2>
	<h3>Coluna &#x2153;:</h3>
</div>
<div class="row">
	<div class="iasd-widget iasd-widget-img col-md-4">
		{% include widgets/custom_img.html %}
	</div>
	<div class="iasd-widget iasd-widget-img col-md-4">
		{% include widgets/custom_img.html %}
	</div>
</div>
<div class="styleguide">
	<h3>Coluna &#x2154;:</h3>
</div>
<div class="row">
	<div class="iasd-widget iasd-widget-img col-md-8">
		{% include widgets/custom_img.html %}
	</div>
</div>
<div class="styleguide">
	<h3>Coluna inteira:</h3>
</div>
<div class="row">
	<div class="iasd-widget iasd-widget-img col-xs-12">
		{% include widgets/custom_img.html %}
	</div>
</div>