---
layout: template
css: blogs_cover
body_class: iasd-blogs
---		
		<div class="container">
			<section class="row">
				<article class="col-sm-12">
					<h1 class="iasd-main-title">Blogueiros</h1>
					<nav class="iasd-alphabetical">
					  <ul>
					    <li class="active"><a href="#">Todos</a></li>
					    <li><a href="#">A</a></li>
					    <li><a href="#">B</a></li>
					    <li><a href="#">C</a></li>
					    <li><a href="#">D</a></li>
					    <li><a href="#">E</a></li>
					    <li><a href="#">F</a></li>
					    <li><a href="#">G</a></li>
					    <li><a href="#">H</a></li>
					    <li><a href="#">I</a></li>
					    <li><a href="#">J</a></li>
					    <li><a href="#">K</a></li>
					    <li><a href="#">L</a></li>
					    <li><a href="#">M</a></li>
					    <li><a href="#">N</a></li>
					    <li><a href="#">O</a></li>
					    <li><a href="#">P</a></li>
					    <li><a href="#">Q</a></li>
					    <li><a href="#">R</a></li>
					    <li><a href="#">S</a></li>
					    <li><a href="#">T</a></li>
					    <li><a href="#">U</a></li>
					    <li><a href="#">V</a></li>
					    <li><a href="#">W</a></li>
					    <li><a href="#">X</a></li>
					    <li><a href="#">Y</a></li>
					    <li><a href="#">Z</a></li>
					  </ul>
					</nav>
					<div class="row iasd-author-list xs-landscape">
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabiana Bertotti</h3>
								<h4>Na prática</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Fabio Bergamo</h3>
								<h4>Marcas & marcas</h4>
							</a>
						</div>
						<div class="col-sm-3">
							<a href="#">
								<figure class="img-circle">
									<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
									<div class="img-gradient"></div>
								</figure>
								<h3>Carolyn Azo</h3>
								<h4>Desafios Espirituais</h4>
							</a>
						</div>
						<div class="clearfix"></div>
						<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
					</div>
				</article>
			</section>
		</div>
