---
layout: template
css: association_v1
---
		<div class="container">
			<section class="row iasd-archive">
				<article class="col-md-8">
					<header>
						<h1><span class="hidden-xs">Artigos de </span>Taxonomia</h1>
					</header>
					<ul>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, <em><em>consectetur</em></em> adipiscing elit. Praesent non placerat nibh. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
									<p class="hidden-xs">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
									<p class="hidden-xs">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</h2>
									<p class="hidden-xs">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
									<p class="hidden-xs">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
									<p class="hidden-xs">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</h2>
									<p class="hidden-xs">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
				</article>
				<aside class="col-md-4 visible-md visible-lg iasd-aside">
					<img src="http://placehold.it/400x600/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive" />
				</aside>
			</section>
		</div>