---
layout: template
css: association_v1
---
		<div class="container">
			<section class="row iasd-archive">
				<aside class="col-sm-4 col-xs-12 float-right mar-bot-50-xs mar-top-0-xs iasd-aside">
					<h1 class="iasd-main-title">Filtros:</h1>
					<ul class="solr_facets clearfix">
						<li class="solr_active">
							<a href="?s=camportamento" title="Filtro: Comportamento">Comportamento</a>
						</li>
						<li class="solr_active">
							<a href="?s=ministerio_da_mulher" title="Filtro: Ministério da Mulher">Ministério da Mulher</a>
						</li>
						<div class="clearfix"></div>
						<a href="#" title="Limpar todos os filtros"><b>Limpar todos os filtros</b></a>
					</ul>
					<ul class="iasd-search-filters solr_facets" id="accordion">
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-01" title="Clique para ler ver o conteúdo do filtro">
							<h3>Seção</h3>
						</a>
						<div id="filter-01" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-secao_str:%22V%C3%ADdeos%22">Vídeos (98)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-secao_str:%22Not%C3%ADcias%22">Notícias (38)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-secao_str:%22Downloads%22">Downloads (17)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-02" title="Clique para ler ver o conteúdo do filtro">
							<h3>Projetos</h3>
						</a>
						<div id="filter-02" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Desbravadores%22">Desbravadores (138)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Minist%C3%A9rio+Jovem%22">Ministério Jovem (12)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Sa%C3%BAde%22">Saúde (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22ADRA%22">ADRA (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Aventureiros%22">Aventureiros (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Evangelismo%22">Evangelismo (1)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-03" title="Clique para ler ver o conteúdo do filtro">
							<h3>Departamentos</h3>
						</a>
						<div id="filter-03" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Desbravadores%22">Desbravadores (138)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Minist%C3%A9rio+Jovem%22">Ministério Jovem (12)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Sa%C3%BAde%22">Saúde (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22ADRA%22">ADRA (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Aventureiros%22">Aventureiros (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-departamentos_str:%22Evangelismo%22">Evangelismo (1)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-04" title="Clique para ler ver o conteúdo do filtro">
							<h3>Editoriais</h3>
						</a>
						<div id="filter-04" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Eventos%22">Eventos (130)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Comunica%C3%A7%C3%A3o%22">Comunicação (7)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Projetos+Sociais%22">Projetos Sociais (7)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Meio+ambiente%22">Meio ambiente (4)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Sa%C3%BAde%22">Saúde (4)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Estilo+de+Vida%22">Estilo de Vida (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Tecnologia%22">Tecnologia (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Comportamento%22">Comportamento (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Datas+Especiais%22">Datas Especiais (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Evangelismo%22">Evangelismo (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Institucional%22">Institucional (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Publica%C3%A7%C3%B5es%22">Publicações (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Educa%C3%A7%C3%A3o%22">Educação (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22Gente%22">Gente (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-editorias_str:%22M%C3%BAsica%22">Música (1)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-05" title="Clique para ler ver o conteúdo do filtro">
							<h3>Região</h3>
						</a>
						<div id="filter-05" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22S%C3%A3o+Paulo%22">São Paulo (11)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Brasil%22">Brasil (10)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Distrito+Federal%22">Distrito Federal (7)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Minas+Gerais%22">Minas Gerais (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Paran%C3%A1%22">Paraná (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Rio+Grande+do+Sul%22">Rio Grande do Sul (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Alagoas%22">Alagoas (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Amazonas%22">Amazonas (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Bahia%22">Bahia (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Goi%C3%A1s%22">Goiás (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Mato+Grosso%22">Mato Grosso (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Mato+Grosso+do+Sul%22">Mato Grosso do Sul (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Mundo%22">Mundo (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Rio+de+Janeiro%22">Rio de Janeiro (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-regiao_str:%22Tocantins%22">Tocantins (1)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-06" title="Clique para ler ver o conteúdo do filtro">
							<h3>Coleções</h3>
						</a>
						<div id="filter-06" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22CamporiTV+2014%22">CamporiTV 2014 (71)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22featured%22">featured (19)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Not%C3%ADcias%22">Notícias (7)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22AP+TV%22">AP TV (6)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22ASN+TV%22">ASN TV (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Eventos%22">Eventos (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Revista+NT%22">Revista NT (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Videoclipe%22">Videoclipe (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Promocionais%22">Promocionais (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-colecoes_str:%22Videochats%22">Videochats (1)</a></li>
						</div>
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-07" title="Clique para ler ver o conteúdo do filtro">
							<h3>Tipos de Mídia</h3>
						</a>
						<div id="filter-07" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-midias_str:%22PDF%22">PDF (11)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-midias_str:%22V%C3%ADdeo%22">Vídeo (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-midias_str:%22Arte+Aberta%22">Arte Aberta (2)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-midias_str:%22Imagem%22">Imagem (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-midias_str:%22%C3%81udio%22">Áudio (1)</a></li>
						</div>					
						<a data-toggle="collapse" data-parent="#accordion" href="#filter-08" title="Clique para ler ver o conteúdo do filtro">
							<h3>Tipos de Material</h3>
						</a>
						<div id="filter-08" class="panel-collapse collapse">
							<li><a href="?s=campori&amp;fq=xtt-pa-materiais_str:%22Outros%22">Outros (7)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-materiais_str:%22Manuais+e+Guias%22">Manuais e Guias (5)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-materiais_str:%22V%C3%ADdeo%22">Vídeo (3)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-materiais_str:%22Logomarcas%22">Logomarcas (1)</a></li>
							<li><a href="?s=campori&amp;fq=xtt-pa-materiais_str:%22%C3%81udio%22">Áudio (1)</a></li>
						</div>
					</ul>
				</aside>
				<div class="clearfix visible-xs"></div>
				<article class="col-sm-8 solr-results">
					<header>
						<h1>Busca: Evangelismo</h1>
					</header>
					<ol>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, <em><em>consectetur</em></em> adipiscing elit. Praesent non placerat nibh. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
									<p class="hidden-xs">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
									<p class="hidden-xs">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</h2>
									<p class="hidden-xs">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
									<p class="hidden-xs">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
									<p class="hidden-xs">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p class="hidden-xs">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<h2>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</h2>
									<p class="hidden-xs">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</p>
								</div>
							</a>
						</li>
						<hr>
					</ol>
					<div id="iasd-page-nav">
						<div class="solr_pages">
							<!-- Atentar para nomes de classes! Eles não mudam independentemente dos números da página! -->
							<p>Pág 1 de 41</p>
							<a class="pn-prev" href="?s=campori&amp;offset=0&amp;count=20">«</a>
							<a class="pn-1 solr_pages_on" href="">2</a>
							<a class="pn-2" href="?s=campori&amp;offset=20&amp;count=20">3</a>
							<a class="pn-3" href="?s=campori&amp;offset=40&amp;count=20">4</a>
							<a class="pn-4" href="?s=campori&amp;offset=60&amp;count=20">5</a>
							<a class="pn-5" href="?s=campori&amp;offset=80&amp;count=20">6</a>
							<p class="pn-break" >...</p>
							<a class="pn-10" href="?s=campori&amp;offset=120&amp;count=20">10</a>
							<a class="pn-20" href="?s=campori&amp;offset=140&amp;count=20">20</a>
							<a class="pn-30" href="?s=campori&amp;offset=160&amp;count=20">30</a>
							<a class="pn-40" href="?s=campori&amp;offset=180&amp;count=20">40</a>
							<a class="pn-50" href="?s=campori&amp;offset=200&amp;count=20">50</a>
							<p class="pn-break" >...</p>
							<a class="pn-next" href="?s=campori&amp;offset=20&amp;count=20">»</a>
							<a class="pn-last" href="?s=campori&amp;offset=200&amp;count=20">Última »</a>
						</div>
					</div>
				</article>
			</section>
		</div>