---
layout: template
css: afam
---				
		<div class="container">
			<section class="row iasd-archive">
				<article class="col-md-12 xs-landscape">
					<header>
						<h1>Projetos</h1>
					</header>
					<div class="row">
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
						</a>
						</div>
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</h2>
							<p>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
						</a>
						</div>
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
							<p>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</p>
						</a>
						</div>
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
							<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</p>
						</a>
						</div>
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</h2>
							<p>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</p>
						</a>
						</div>
						<div class="col-sm-6 iasd-project-item">
						<a href="#">
							<img width="460" height="200" alt="Título da imagem" class="img-responsive" src="http://placehold.it/460x200/eee9e3/3a3a3a/&text=460x200">
							<h2>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</p>
						</a>
						</div>
					</div>
				</article>
			</section>			
		</div>
		