---
layout: template
css: blogs_internal
body_class: iasd-blogs-internal
blogs : true
---		
		<div class="container">
			<section class="row">
				<form role="form" class="col-md-8 iasd-contact-form">
					<h1 class="iasd-main-title">Contato</h1>
					<div class="form-group">
						<label for="">Nome <span class="required"> (obrigatório)</span></label>
						<input type="text" class="form-control" id="" required placeholder="Insira seu nome">
					</div>					
					<div class="form-group">
						<label for="">Endereço de email <span class="required"> (obrigatório)</span></label>
						<input type="email" class="form-control" id="" required placeholder="Insira seu email">
					</div>
					<div class="form-group">
						<label for="">Site</label>
						<input type="text" class="form-control" id="" placeholder="Site">
					</div>
					<div class="form-group">
						<label>Deixe uma mensagem</label>
						<textarea class="form-control" rows="7"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
				<aside class="col-md-4 visible-md visible-lg">
					<img src="http://placehold.it/400x600/eee9e3/3a3a3a/&amp;text=Sidebar" class="img-responsive">
				</aside>
			</section>
		</div>