// -------------------------
// Theme Options
// -------------------------

$theme-main-color: 					#269e9a;																				// Header background color, widgets links color, widgets tags, widgtes color highlights
$theme-alt-color: 					#145351;																				// Widgets headers color
$theme-main-nav-base-color:			darken($theme-alt-color, 7%);															// Main nav background color base
$theme-footer-base-color:			darken($theme-alt-color, 7%);															// Footer color base
$theme-logo: 						'../../samples/templates/departments_home_association_v1/img/iasd_header.png';			// Header logo image
$theme-logo-retina: 				'../../samples/templates/departments_home_association_v1/img/iasd_header@2x.png';		// Header logo retina image resource

@import "iasd-bootstrap";