.iasd-app-card {
	display: block;
	width: 170px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	margin: 0 auto;
	border: solid 1px $border-base;
	border-radius: 5px;
	background: #ffffff;
	h3 {
		font-size: 14px !important;
	    line-height: 17px !important;
	    margin: 0 0 10px 0 !important;
	    font-weight: 900 !important;
	    font-style: normal !important;
    	width: 140px;
    	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $theme-main-color;
	}
	figure {
		display: block;
		position: relative;
		width: 140px;
		margin-bottom: 15px;
		img {
			@include border-radius(5px);
			max-width: 100%;
			margin: 0 auto;
		}
		figcaption {
			background: $theme-main-color; //IE8 Fallback :(
			background: rgba($theme-main-color, .9);
			top: 10px;
			height: 20px;
			left: 0;
			margin: 0;
			max-width: 90%;
			overflow: visible;
			padding: 0;
			position: absolute;
			span {
				@include text-overflow();
				color: $body-bg;
				display: inline-block;
				font-family: $alt-font-family-sans-serif;
				font-size: 10px;
				font-weight: 500;
				line-height: 12px;
				padding: 4px 5px;
				text-transform: uppercase;
				width: 100%;
			}
			&:after {
				border: {
					color: transparent transparent transparent $theme-main-color; //IE8 Fallback :(
					color: transparent transparent transparent rgba($theme-main-color, .9);
					style: solid;
					width: 10px 0 10px 7px;
				}
				content: '';
				height: 0px;
				position: absolute;
				right: -7px;
				top: 0;
				width: 0px;	
			}
		}		
	}
	ul {
		padding: 0;
		list-style: none;
		li {
			float: left;
			position: relative;
			display: block;
			width: 15px;
			height: 15px;
			&:after {
				position: absolute;
				display: block;
				left: 0;
				width: 15px;
				height: 15px;
				line-height: 20px;
				font-size: 15px;
				text-indent: 0;
				font-family: FontAwesome;
			}
			+ li {
				margin-left: 10px;
				margin-top: 0 !important;
			}
			&.ios {
				&:after {
					content: '\f179';
					color: $apple-color;
				}
			}
			&.android {
				&:after {
					content: '\f17b';
					color: $android-color;
				}
			} 
			&.windows {
				&:after {
					content: '\f17a';
					color: $windows-color;
				}
			}
		}
	}
	small {
		display: block;
		margin-top: 20px;
		font-weight: 700;
		text-align: right;
		text-transform: uppercase;
		color: $android-color;
	}
	.iasd-app-dev {
		display: inline-block;
		width: 140px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $alt-text-color;
	}
}