body > header .identifier {
	
	.brand {
		margin: 0;
		&:after {
			display: none;
		}
	}

	.title {
		float: left;
		width: 380px;
    	margin-left: 150px;

    	hgroup{
			h1{
			   margin: 0px !important;
			   font-size: 28px !important;
			   color: #FFFFFF !important;
			   line-height: 38px !important;
			   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) !important;
			   font-family: Lora-Italic !important;
			   font-size: 28px !important;
			}
		}
	}
}

.rpsp-front-page, .rpsp-single, .rpsp-single-weekly, .rpsp-archive-videos, .rpsp-archive-cards {
	h1 {
	    -moz-box-shadow: 0 4px 0 #eee9e3;
	    -webkit-box-shadow: 0 4px 0 #eee9e3;
	    box-shadow: 0 4px 0 #eee9e3;
	    border-bottom: 1px solid #e0d8cd;
	    color: #39733c;
	    display: inline-block;
	    font-family: "Futura Std",Helvetica,Arial,sans-serif;
	    font-size: 25px !important;
	    font-weight: 300 !important;
	    line-height: 35px !important;
	    text-transform: uppercase;
	    width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    margin: 0 0 35px 0 !important;
	}
}

.rpsp-see-more {
	font-weight: 700;
	color: $theme-main-color;
	&:hover {
		color: $theme-alt-color;
	}
}

#iasd-page-prevnext {
	.page-prevnext {
		a {
			color: $theme-alt-color;
			&:hover, &:focus {
                color: lighten($theme-alt-color, 5%);
            }
		}
	}
}

#iasd-chapter-prevnext {
    h1 {
    	border-bottom: 0;
    	box-shadow: none;
    	text-transform: none;
    	font-weight: 700 !important;
    }
    .page-prevnext {
        &.pull-right {
            text-align: right;
            a {
                float: right;
            }
            .btn-default {
                float: right;
                margin-left: 14px;
                margin-right: 0;
            }
        }
        a {
            @include text-overflow;
            border: 0;
            font-weight: bold;
            color: $theme-alt-color;
            display: block;
            float: left;
            font-weight: bold;
            max-width: 85%;
            &:hover, &:focus {
                color: lighten($theme-alt-color, 5%);
            }
        }
        em {
            @include text-overflow;
            display: block;
            margin-bottom: -9px;
        }
        .btn-default {
            float: left;
            font-size: 21px;
            height: 40px;
            line-height: 21px;
            margin-right: 14px;
            width: 30px;
            border: 0;
			background-color: $border-base;
			color: $alt-link-color;
        }
        .hidden-xs {
            a {
                margin-top: 9px;
            }
        }
    }
}

.rpsp-social-header {
	position: relative;
	h1 {
		font-size: 28px;
		line-height: 34px;
		font-weight: 400;
		color: $theme-alt-color;
	}
	ul {
		position: absolute;
		top: 0;
		right: 0;
		height: 25px;
		li {
			display: inline-block;
			float: left;
			a {
				position: relative;
				display: block;
				height: 25px;
				width: 25px;
				border-radius: 50%;
				&:after {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 15px;
					color: #ffffff;
					font-family: fontAwesome;
				}
				&.facebook {
					background-color: #3b5998; 
					&:after {
						content: '\f09a';
						margin-top: -9px;
						margin-left: -3px;
					}
				}
				&.twitter {
					background-color: #55acee;
					&:after {
						content: '\f099';
						margin-top: -10px;
						margin-left: -6px;
					}
				}
				&.email {
					background-color: #78a326;
					&:after {
						content: '\f003';
						margin-top: -10px;
						margin-left: -7px;	
					}
				}
				&.comments {
					background-color: #78a326;
					&:after {
						content: '\f0e5';
						margin-top: -11px;
						margin-left: -7px;
					}
				}
			}
			+ li {
				margin-top: 0 !important;
				margin-left: 8px;
			}
		}
	}
}

.chapter-row {
	margin-bottom: 70px;;
}

.chapter-header {
	text-align: center;
	time {
		font-family: $font-family-sans-serif;
		font-weight: 300;
		font-size: 18px;
		color: $theme-alt-color;
		line-height: 22px;
	}
	h1 {
		font-family: $font-family-sans-serif;
		font-weight: 400 !important;
		font-size: 24px !important;
		color: $theme-alt-color;
		line-height: 29px !important;
	}
}

.chapter-content {
	padding-top: 45px;
	padding-right: 35px;
	padding-bottom: 40px;
	padding-left: 35px;
	border: solid 1px $border-base;
	background: #ffffff;
	h2 {
		font-family: Lora-Std;
		font-size: 18px;
		line-height: 34px;
		color: $theme-alt-color;
	}
	ol {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 25px;
		li {
			font-family: Lora-Std;
			font-size: 15px;
			line-height: 25px;
		}
	}
	p {
		font-family: Lora-Std;
		font-size: 15px;
		line-height: 25px;
	}
	.chapter-content-header {
		position: relative;
		ul {
			position: absolute;
			top: 0;
			right: 0;
			li {
				display: inline-block;
				float: left;
				a {
					position: relative;
					display: block;
					height: 25px;
					width: 25px;
					border-radius: 50%;
					&:after {
						position: absolute;
						top: 50%;
						left: 50%;
						font-size: 15px;
						color: #ffffff;
						font-family: fontAwesome;
					}
					&.facebook {
						background-color: #3b5998; 
						&:after {
							content: '\f09a';
							margin-top: -9px;
							margin-left: -3px;
						}
					}
					&.twitter {
						background-color: #55acee;
						&:after {
							content: '\f099';
							margin-top: -10px;
							margin-left: -6px;
						}
					}
					&.email {
						background-color: #78a326;
						&:after {
							content: '\f003';
							margin-top: -10px;
    						margin-left: -7px;	
						}
					}
					&.comments {
						background-color: #78a326;
						&:after {
							content: '\f0e5';
							margin-top: -11px;
    						margin-left: -7px;
						}
					}
				}
				+ li {
					margin-left: 8px;
				}
			}
		}
	}

	.comments-link {
		display: block;
		margin-top: 45px;
		padding-top: 15px;
		border-top: solid 1px $border-base;
		color: $theme-main-color;
	}
}

.entry-content {
	.chapter-content-header, .rpsp-social-header {
		ul {
			margin-bottom: 0;
		}
	}
}

.weekly-reading {
	padding: 25px;
	margin-bottom: 65px;
	border: solid 1px $border-base;
	background: #ffffff;
	a {
		font-size: 14px;
		font-weight: 700;
		color: $text-color;
		&:hover {
			color: $theme-main-color;
		}
	}
}

.weekly-reading-img {
	margin-bottom: 10px;
	img {
		border: solid 1px rgba(0,0,0,0.3);
	}
	.owl-controls {
		margin-top: -30px;
	}
}

.share-reading-img {
	small {
		float: left;
		margin-right: 15px;
	}

	ul {
		float: left;
		padding: 0;
		li {
			display: inline-block;
			float: left;
			a {
				position: relative;
				display: block;
				height: 25px;
				width: 25px;
				border-radius: 50%;
				&:after {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 15px;
					color: #ffffff;
					font-family: fontAwesome;
				}
				&.facebook {
					background-color: #3b5998;
					&:after {
						content: '\f09a';
						margin-top: -9px;
						margin-left: -3px;
					}
				}
				&.twitter {
					background-color: #55acee;
					&:after {
						content: '\f099';
						margin-top: -10px;
						margin-left: -6px;
					}
				}
			}
			+ li {
				margin-left: 8px;
			}
		}
	}
}

.rpsp-video-home {
	h2 {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
	}
}

.widget-projeto-rpsp {
	figure {
		margin-bottom: 20px;
	}
	p {
		line-height: 22px !important;
	}
	.get-app {
		color: #ffffff !important;
		span {
			display: inline-block;
			float: left;
			position: relative;
			height: 30px;
			width: 20px;
			margin-right: 10px;
			font-family: fontAwesome;
			&:before {
				position: absolute;
				left: 0;
				bottom: 0;
				font-size: 25px;
			}
			&.ios {
				&:before {
					content: '\f179';
				}
			}
			&.android {
				&:before {
					content: '\f17b';
				}
			}
		}
		small {
			display: block;
			padding-left: 30px;
		}
		+ .get-app {
			margin-left: 25px;
		}
		&:hover {
			color: $border-base !important;
		}
	}
}

.iasd-video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.comments-count {
	position: relative;
	padding-left: 16px;
	color: $alt-link-color !important;
	&:before {
		content: '\f075';
		display: block;
		position: absolute;
		left: 0;
		width: 16px;
		height: 13px;
		font-family: fontAwesome;
	}
}

.rpsp-front-page, .rpsp-single {
	.biblical-commentary {
		p {
			font-family: Lora-Italic;
			font-size: 15px;
			line-height: 25px;
		}
	}
}

// SINGLES

.rpsp-single, .rpsp-single-weekly, .rpsp-single-card {
	.entry-content {
		ul {
			li + li {
				margin-top: 0 !important;
			}
		}
	}
} 

.rpsp-single-video, .rpsp-single-card {
	#iasd-page-prevnext {
		padding-top: 15px;
		border-top: 0;
	}
}

.rpsp-single-card {
	img {
		margin-bottom: 0;
	}
	#iasd-page-prevnext {
		.page-prevnext {
			em {
				margin-bottom: 0;
			}
		}
	}
}

// ARCHIVES

.rpsp-archive-videos, .rpsp-archive-cards {
	.col-sm-4 {
		margin-bottom: 35px;
	}
	img {
		border: solid 1px #979797;
	}
	a {
		h2 {
			display: inline-block;
			font-size: 20px;
			font-weight: 900;
			line-height: 24px;
			color: $text-color;
		}
		&:hover, &:focus, &:active {
			border-bottom: 0;
			h2 {
				color: $theme-main-color;
			}
		}
	}
}

// PROGRAMA DE LEITURA MENSAL

.rpsp-monthly-program {
	.btn-outline {
		font-weight: 400;
		border-color: $btn-default-border;
		color: $btn-default-border;
	}
	.periodic-controls {
		display: inline-block;
		width: 100%;
		position: relative;
		text-align: center;
		h2 {
			display: inline-block;
			margin: 0;
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			color: $theme-alt-color;
		}
		a {
			position: absolute;
			top: 50%;
			margin-top: -7px;
			font-size: 22px;
			line-height: 14px;
			font-weight: 700;
			color: $theme-alt-color;
			&.periodic-control-prev {
				left: 0;
			}
			&.periodic-control-next {
				right: 0;
			}
		}
	}
	.btn {
		+ .btn {
			margin-left: 10px;
		}
	}
	table, tbody, tr {
		border: 0;
	}
	table {
		margin-top: 40px;
	}
	th {
		padding-bottom: 10px;
		width: 12.5%;
		border-color: transparent;
		font-size: 12px;
		line-height: 15px;
		font-weight: 400;
		color: $alt-link-color;
		text-transform: uppercase;
	}
	td {
		padding: 0 !important;
		border-top: solid 1px $border-base;
		border-color: $border-base;
		width: 12.5%;
		background: #ffffff;
		a {
			display: block;
			position: relative;
			padding: 30px 0;
			text-align: center;
			font-size: 20px;
			font-weight: 300;
			color: $alt-link-color;
			span {
				position: absolute;
				bottom: 5px;
				left: 5px;
				display: block;
				height: 18px;
				width: 18px;
				border-radius: 50%;
				font-size: 12px;
				line-height: 18px;
				font-weight: 300;
			}
		}
		&.current-month {
			a {
				color: $text-color;
				span {
					color: $text-color;
				}
			}
		}
		&:hover {
			border: solid 1px $text-color;
			a {
				span {
					background: $theme-main-color;
					color: #ffffff;
				}
			}
		}
	}

	.readings {
		a {
			padding: 30px 5px;
			font-size: 13px;
			font-weight: 400;
			line-height: 20px;
			text-align: left;
			color: $theme-main-color;
		}
	}
}

// PROGRAMA DE LEITURA SEMANAL

.rpsp-weekly-program {
		.btn-outline {
		font-weight: 400;
		border-color: $btn-default-border;
		color: $btn-default-border;
	}
	.periodic-controls {
		display: inline-block;
		width: 100%;
		margin-bottom: 40px;
		position: relative;
		text-align: center;
		h2 {
			display: inline-block;
			margin: 0;
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			color: $theme-alt-color;
		}
		a {
			position: absolute;
			top: 50%;
			margin-top: -7px;
			font-size: 22px;
			line-height: 14px;
			font-weight: 700;
			color: $theme-alt-color;
			&.periodic-control-prev {
				left: 0;
			}
			&.periodic-control-next {
				right: 0;
			}
		}
	}
	.btn {
		+ .btn {
			margin-left: 10px;
		}
	}
	.lala {
		padding-left: 1px;
	}
	.weekly-program-day {
		position: relative;
		margin-left: -1px;
		padding: 0;
		border: solid 1px $border-base;
		background: #ffffff;
		a {
			display: block;
			position: relative;
			width: 100%;
			padding: 30px 5px;
			text-align: left;
			font-size: 20px;
			font-weight: 300;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: $text-color;
			span {
				position: absolute;
				top: 5px;
				left: 5px;
				display: block;
				height: 18px;
				width: 100%;
				border-radius: 50%;
				font-size: 12px;
				line-height: 18px;
				font-weight: 400;
				text-transform: uppercase;
				color: $btn-default-border;
			}
		}
		&:hover {
			border: solid 1px $text-color;
			z-index: 2;
		}
		&.readings {
			a {
				padding: 30px 5px;
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				text-align: left;
				color: $theme-main-color;
			}
		}
		&:nth-child(n+5) {
			margin-top: -1px;
		}
	}
}

// MEDIA QUERIES

@media (min-width: $screen-md) {
	#iasd-chapter-prevnext {
		&.hidden-md {
			display: none !important;
		}
	}
}

@media (max-width: $screen-sm-max) {
	#iasd-chapter-prevnext {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
}

@media (max-width: $screen-sm-max) {
	.chapter-content {
		margin-bottom: 65px;
		padding: 20px;
		.chapter-content-header {
			ul {
				position: relative;
				float: right;
				margin-bottom: 25px;

			}
		}
	}
	.share-reading-img {
		margin-bottom: 65px;
	}
	.rpsp-archive-videos, .rpsp-archive-cards {
		a {
			h2 {
				display: inline-block;
				float: left;
				font-size: 18px;
				width: calc( 100% - 45px );
				margin-bottom: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	#iasd-chapter-prevnext {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
	.entry-content {
		.rpsp-social-header {
			ul {
				padding-left: 0 !important;
			}
		}
	}
	.rpsp-social-header {
		position: relative;
		ul {
			position: relative;
			padding-left: 0 !important;
			margin-bottom: 25px !important;
		}
	}
	.rpsp-archive-videos {
		.col-xs-6 {
			padding-left: 11px;
			padding-right: 11px;
		}
		a {
			h2 {
				display: inline-block;
				float: left;
				font-size: 15px;
				width: calc( 100% - 18px );
				margin-bottom: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.comments-count {
			display: inline-block;
			span {
				display: none;
			}
		}
	}

	.rpsp-monthly-program {
		.periodic-controls {
			text-align: left;
			.dropdown {
				display: inline-block;
			}
			select {
				border: solid 1px $border-base;
				font-weight: 300;
				background: #ffffff;
			}
		}
		table {
			margin-top: 30px;
		}
		td, th {
			width: 14.28%;
		}
		th {
			font-size: 10px;
		}
		td {
			background: transparent;
			a {
				padding: 13px 0;
				font-size: 13px;
				span {
					bottom: -3px;
					left: 0;
					font-size: 10px;
					line-height: 12px;
				}
			}
		}

		.readings {
			padding: 30px 5px;
			a {
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				text-align: left;
				color: $theme-main-color;
			}
		}
	}

	.rpsp-weekly-program {
		.weekly-program-day {
			&:nth-child(n+3){
				margin-top: -1px;
			}
		}
	}
}