.iasd-apps-portal {
	.iasd-global_navbar {
		background-image: none;
	}

	a.iasd-app-card {
		position: relative;
		.iasd-tag { 
				background: $theme-main-color; //IE8 Fallback :(
				background: rgba($theme-main-color, .9);
				height: 20px !important;
				left: 0 !important;
				margin: 0;
				max-width: 90%;
				overflow: visible;
				padding: 0;
				position: absolute;
				width: 70px;
				margin-top: 10px;
				z-index: 10 !important;
				span {
					@include text-overflow();
					color: $body-bg;
					display: inline-block;
					font-family: $alt-font-family-sans-serif;
					font-size: 10px;
					font-weight: 500;
					line-height: 12px;
					padding: 5px 5px;
					text-transform: uppercase;
					width: 100%;
				}
				&:after {
					border: {
						color: transparent transparent transparent $theme-main-color; //IE8 Fallback :(
						color: transparent transparent transparent rgba($theme-main-color, .9);
						style: solid;
						width: 10px 0 10px 7px;
					}
					content: '';
					height: 0px;
					position: absolute;
					right: -7px;
					top: 0;
					width: 0px;	
				}
			}
		&:hover{
			border-bottom: 1px solid $border-base !important;
		}
	}

	footer {
		background-image: none;
		background-color: $theme-alt-color;
	}
	&.iasd-apps-home {
		footer {
			margin-top: 0;
		}
	}
}

// Main navigation
// -------------------------
.iasd-main_navbar .navbar-nav > li > a:hover,  // correção 02 da
.header-apps .iasd-main_navbar .apps-search:hover { 
  background: rgba(4, 94, 134,0.4) !important;
  border-color: 0;
}
.header-apps {
	.iasd-main_navbar .navbar-nav > li.has-children > a, 
	.iasd-main_navbar .navbar-nav > li.language > a {
		padding: 29px 25px 29px 10px;
		&:after {
			line-height: 77px;	
		}
	}
	.iasd-main_navbar .navbar-nav > li > a {
		padding: 29px 10px 29px 10px;
	}
}

// Header home
// -------------------------
body > header .identifier .brand {
	margin: 0 20px 0 0;
}

body > header .identifier .brand:after {
	margin: -30px 0 0 0;
}

@media (min-width: $screen-sm) {
    body.iasd-apps-home {
    	.header-apps {
    		position: relative;
    		z-index: 1;
			background-color: rgba( #000000, .4 );
		}
        .apps-home-carousel {
            background: $theme-alt-color;
            margin-bottom: -75px; //Alterado de 80 para 75 WDR
            top: -120px;
            .owl-item {
                & > div {
                    background-position: center center !important;
                    height: 600px;
                }
                section {
                    margin-top: auto;
                    padding-top: 190px;
                    position: relative;
                    article {
                        color: $body-bg;
                        display: table-cell;
                        height: 275px;
                        position: relative;
                        vertical-align: middle;
                        width: 455px;
                        a {
                            @include border-radius(5px);
                            background: $theme-main-color;
                            bottom: 0;
                            color: $body-bg;
                            display: inline-block;
                            font-weight: 900;
                            left: 0;
                            margin: 30px 0 0 0;
                            padding: 10px 20px;
                            position: absolute;
                            &:hover {
                                background: lighten($theme-main-color, 5%);
                            }
                        }
                        h1 {
                            font-family:lato, light italic; //Alterado WDR $alt-font-family-sans-serif
                            font-size: 48px;
                            font-weight: 300;
                            line-height: 50px;
                            margin: -60px 0 0 0;
                            text-shadow: 1px 1px 0 rgba($gray-dark, 0.5);
                            text-transform: none; // Alterado WDR
                        }
                        p {
                            font-size: 18px;
                            font-style: normal; // Alterado WDR 
                            line-height: 21px;
                            margin: 15px 0 0 0;
                            text-shadow: 1px 1px 0 rgba($gray-dark, 0.5);
                        }
                        div {
                        	padding: 30px 0 0;
                        	&.iasd-icone-header-cover:after { // parada da maçã que não está funcionando.
                        		content: "\f179";
                        		font-family: FontAwesome;
                        		font-size: 20px;
                        		color: white;
                        	}
                        }
                    }
                }
            }
            .owl-controls {
                bottom: 80px;
                left: 50%;
                margin: 0 0 0 -470px;
                position: absolute;
                text-align: left;
                width: 400px;
                .owl-page {
                    span {
                        background: $body-bg;
                        height: 10px;
                        margin: 5px;
                        width: 10px;
                    }
                }
            }
        }
        .iasd-global_navbar-more {
            &.open {
                padding-bottom: 70px;
            }
        }
        .iasd-global_navbar-search {
            &.open {
                padding-bottom: 55px;
            }
        }
        .iasd-institutional {
            @include image-2x("logos_pt_BR/iasd_dsa_home@2x.png");
            background: {
                image: image-url("logos_pt_BR/iasd_dsa_home.png");
                size: 455px 51px;
            }
            height: 51px;
            left: 50%;
            margin: -51px 0 0 -470px;
            position: relative;
            top: 100px;
            width: 455px;
            z-index: 1;
        }
    }
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    body.iasd-apps-home {
        .apps-home-carousel {
            .owl-controls {
                margin: 0 0 0 -360px;
            }
        }
        .iasd-institutional {
            margin: -51px 0 0 -360px;
        }
    }
}

// Header
// -------------------------

.header-apps {
	height: 80px;
	background-image: none;
	background-color: $theme-main-color;
	.identifier {
		max-height: 80px;
		min-height: 80px;
		.brand {
			// margin-top: 40px;
			height: 80px;
			a {
				height: 80px;
				background: {
		            image: image-url("logos_pt_BR/iasd_apps_logo.png");
		            size: 36px 34px;
		        }
			}
		}
		.title {
			// margin-top: 40px;
			height: 80px;
			hgroup {
				h1 {
					font-size: 25px;
				}
			}
		}
	}
	.iasd-main_navbar {
		margin: 0;
		.navbar {
			margin-bottom: 0;
			border-top: 0;
			.navbar-nav > li.active > a {
				border-top: solid 2px;
				border-top-color: transparent;
				margin-top: 0;
			}
			> .collapse {
				float: left;
			}
		}
		.apps-search {
			width: 40px;
			height: 80px;
			position: relative;
			cursor: pointer;
			.collapse {
			  height: auto;
			  width: auto;
			}

			&:after {
				content: '\f002';
				position: absolute;
				display: block;
				right: 0;
				width: 40px;
				height: 80px;
				line-height: 80px;
				font-family: FontAwesome;
				font-size: 18px;
				text-align: center;
				color: #ffffff;
			}

			&:hover {
				background-color: $theme-alt-color;
			}
		}
	}
}

#apps-search-form, #apps-search-form-mobile  {
	position: relative;
	z-index: 1;
	background: $body-bg;
	form {
		margin: 15px 0;
	}
}

@media (min-width: $screen-sm) {
    body.iasd-apps-home.es_ES {
        .iasd-institutional {
            @include image-2x("logos_es_ES/iasd_dsa_home@2x.png");
            background: {
                image: image-url("logos_es_ES/iasd_dsa_home.png");
                size: 455px 51px;
            };
        }
    }
}

.header-apps-mobile {
	background-color: $theme-main-color;
	background-image: none;
	.identifier {
		max-height: 120px;
		min-height: 120px;
		.brand {
			margin-top: 40px;
			height: 80px;
			a {
				height: 80px;
				background: {
		            image: image-url("logos_pt_BR/iasd_apps_logo.png");
		            size: 36px 34px;
		        }
			}
		}
	}
}

.apps-mobile-main-nav {
	margin-bottom: 50px;
	.apps-search {
		height: 39px;
		width: 40px;
		form {
			margin: 15px 0;
		}
		&:after {
			content: '\f002';
			position: absolute;
			display: block;
			right: 0;
			width: 40px;
			height: 39px;
			line-height: 39px;
			font-family: FontAwesome;
			font-size: 18px;
			text-align: center;
			color: #ffffff;
		}
	}
	.iasd-main_navbar {
		margin-bottom: 0;
		.navbar-default {
			margin-bottom: 0;
		}
	}
}


// Footer 
// -------------------------

body > footer {
	margin-top: 80px;
}

// Single
// -------------------------

.single-app-header {
	position: relative;
	padding: 50px 0;
	margin-bottom: 60px; // Alterado de 60px para 50px de acordo com o Notable!
	background-color: #eee9e3;
	h1 {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 32px;
		color: $theme-alt-color;
		font-weight: 900;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			float: left;
			+ li {
				margin-left: 10px;;
			}
		}
	}
	img {
		border-radius: 5px;
	}
	small {
		display: block;
		margin-bottom: 13px;
		font-size: 13px;
		color: $alt-text-color;
	}
	.single-app-header-inner {
		.col-md-3 {
			position: absolute;
			bottom: 50px;
			right: 0;
		}
	}
	.developer {
		display: block;
		margin-bottom: 7px;
		font-size: 15px;
		color: $theme-main-color;
	}
	.app-stores {
		ul {
			display: inline-block;
			margin: 0;
		}
		li {
			a {
				float: left;
				position: relative;
				display: block;
				border: solid 1px $theme-main-color;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				&:after {
					position: absolute;
					display: block;
					left: -1px;
					top: -1px;
					width: 30px;
					height: 30px;
					line-height: 30px;
					font-size: 15px;
					text-indent: 0;
					text-align: center;
					font-family: FontAwesome;
					color: $theme-main-color;
				}
				&.ios {
					&:after {
						content: '\f179';
					}
				}
				&.android {
					&:after {
						content: '\f17b';
					}
				} 
				&.windows {
					&:after {
						content: '\f17a';
					}
				}
					&:hover {
					background: #fefaf7;
				}
			}
			+ li {
				margin-top: 0 !important;
			}
		}
	}
}


@media (max-width: $screen-sm) {
	.single-app-header {
		figure {
			float: left;
		}
	}
}

@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	.single-app-header {
		small {
			margin-bottom: 10px;
		}
		padding: 50px 0 80px 0;
	}
}

@media (max-width: $screen-xs) {
	.single-app-header {
		padding: 50px 0 80px 0;
		small {
			margin-bottom: 10px;
		}
		.single-app-header-inner {
			.col-md-3 {
				bottom: 30px;
			}
		}
	}
}

.screen-shots-carousel {
	margin-bottom: 60px; // Alterado de 50px para 60px - WDR
	h1 {
		@include main-title;
		@include text-overflow();
		margin: 0 0 20px 0 !important;
	}
	.iasd-app-screen-shots {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.owl-wrapper-outer {
		background: none !important;
	}
	.owl-controls {
		margin: 9px 0 0 0;
		.owl-page{
			span{
				background: $theme-main-color; // IE8 Fallback :(
				background: rgba($theme-main-color, 0.4);
				height: 6px;
				margin: 5px;
				width: 6px;
			}
			&:hover, &:focus{
				span{
					background: $theme-main-color; // IE8 Fallback :(
					background: rgba($theme-main-color, 0.6);
				}
			}
			&.active{
				span{
					background: $theme-main-color;
				}
			}
		}
		.owl-buttons {
			& > div{
				@include opacity(1);
				background: none;
				padding: 0;
				position: absolute;
				height: 100%;
				margin-top: 0;
				top: 0;
				width: 25px;
				z-index: 10;
				&:after{
					background: rgba($gray-darker, 0.15);
					display: block;
					font-family: FontAwesome;
					font-size: 18px;
					height: 40px;
					left: 0;
					line-height: 40px;
					margin-top: -20px;
					position: absolute;
					text-align: center;
					top: 50%;
					width: 25px;
				}
			}
			.owl-prev {
				left: -10px;
				&:after {
					content: "";
					position: absolute;
					display: block;
					width: 10px;
					height: 17px;
					background: image-url( 'widgets/slider_apps_prev.png' ) no-repeat;
				}
			}
			.owl-next {
				right: -25px;
				&:after {
					content: "";
					position: absolute;
					display: block;
					width: 10px;
					height: 17px;
					background: image-url( 'widgets/slider_apps_next.png' ) no-repeat;
				}
			}
		}
	}
}


.app-qr-codes {
	list-style: none;
	padding: 15px;
	border-radius: 7px;
	li {
		img {
			margin-right: 10px;
			display: block;
		}
		a { 
			margin-top: -68px;
			display: block;
			width: calc(100% - 108px);
			float: right;
			text-align: center;
		}
		
		+ li {
			margin-top: 30px;
		}
	}
	.download-app-button {
		padding: 10px 15px;
	    border: solid 1px darken($theme-main-color, 5%);
	    border-radius: 3px;
	    background: $theme-main-color;
	    color: $body-bg;
	}
}

.related-apps {
	margin-top: 50px;
	h1 {
		@include main-title;
		@include text-overflow();
		margin: 0 0 20px 0 !important;
	}
	.iasd-app-card {
		padding: 5px;
		width: 100%;
		position: relative;
		h3 {
			&:hover, &:focus {
				border-bottom: 0;
			}
		}
		figure, h3, .iasd-app-dev {
			width: 100%;
		}
		ul {
			padding: 0 !important;
		}
		.iasd-app-card-inner {
			padding: 5px;
			span {
				font-weight: 400; // Inserido por WDR 
			}
		}
	}
	> .col-md-3 { // Inserido por WDR. :)
		padding-left: 10px; 
		padding-right: 10px;
	}
}

@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	.related-apps {
		.xs-landscape {
			width: 33%;
    	}
    	.hidden-xs-landscape {
			display: none;
		}
	}
}

@media (max-width: $screen-xs) {
	.related-apps {
		.col-xs-6 {
			margin-bottom: 30px;
			padding: 0 7px;
    	}
	}
}

.single-app-content {
	color: $alt-text-color;
	.app-description {
		@include main-title;
		@include text-overflow();
		margin: 0 0 20px 0 !important;
	}
	.sharing-links {
		margin-top: 0;
		.functions {
			display: none;
		}
	}
}

// Archive
// -------------------------

.iasd-apps-archive, .iasd-apps-search {
	section {
		ul {
			margin-bottom: 20px;
		}
	}
	.block-grid-item {
		.iasd-app-card {
			width: 100%;
			padding-top: 12px;
			padding-left: 12px;
			padding-right: 12px;
			position: relative;
		}
	}
	> .container {
		> h1 {
			margin-top: 75px;
			margin-bottom: 20px; //Alterado de 40px WDR
			font-size: 32px;
			font-weight: 900;
			color: $theme-alt-color;
		}
	}
}

.iasd-apps-archive-highlights {
	margin-bottom: 40px;
	padding: 40px 0; // Alterado de 50px;
	background: #eee9e3;
	.app-highlights-title {
		width: 20%;
		h1 {
			float: left;
			margin: 0;
			padding-top: 30px;
			border-top: solid 1px rgba($alt-text-color, 0.4);
			font-size: 25px;
			font-weight: 300;
			font-family: $alt-font-family-sans-serif;
			text-transform: uppercase;
			color: $alt-text-color;
		}
	}
	.iasd-highlight-apps-carousel {
		float: right;
		width: 80%;
		.owl-controls {
			.owl-buttons {
				& > div{
					@include opacity(1);
					background: none;
					padding: 0;
					margin: 20px 30px 0 30px;
					height: 17px;
					width: 10px;
					z-index: 10;
					&:after{
						background: rgba($gray-darker, 0.15);
						display: block;
						font-family: FontAwesome;
						font-size: 18px;
						height: 40px;
						line-height: 40px;
						position: absolute;
						text-align: center;
					}
				}
				.owl-prev {
					&:after {
						content: "";
						position: absolute;
						display: block;
						width: 10px;
						height: 17px;
						background: image-url( 'widgets/slider_apps_prev.png' ) no-repeat;
					}
				}
				.owl-next {
					&:after {
						content: "";
						position: absolute;
						display: block;
						width: 10px;
						height: 17px;
						background: image-url( 'widgets/slider_apps_next.png' ) no-repeat;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md) {
	.iasd-apps-archive, .iasd-apps-search {
		.iasd-app-card {
			figure, h3, span {
				width: 100%;
			}
		}
	}
	.iasd-apps-archive-highlights {
		.app-highlights-title {
			width: 25%;
		}
		.iasd-highlight-apps-carousel {
			width: 75%;
		}
	}
}

@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
	.iasd-apps-archive, .iasd-apps-search {
		.block-grid-item {
			padding: 10px;
		}
		.slider-item {
			padding: 0 10px;
		}
		.iasd-app-card {
			width: auto;
			padding: 10px;
			position: relative;
			figure, h3, span {
				width: 100%;
			}
			.iasd-app-card-inner {
				padding: 0 5px;
			}
		}
	}
	.iasd-apps-archive-highlights {
		.app-highlights-title {
			width: 100%;
			h1 {
				margin-bottom: 40px;
			}
		}
		.iasd-highlight-apps-carousel {
			width: 100%;
		}
	}
}

@media (max-width: $screen-xs) {
	.iasd-apps-archive, .iasd-apps-search {
		.block-grid-item, .slider-item {
			.iasd-app-card {
				width: auto;
				padding: 5px;
				position: relative;
				figure, h3, span {
					width: 100%;
				}
				.iasd-app-card-inner {
					padding: 0 5px;
				}
			}
		}
		.block-grid-item {
			padding: 10px;
		}
		.slider-item {
			padding: 0 5px;
		}
	}

	.iasd-apps-archive-highlights {
		.app-highlights-title {
			width: 100%;
			h1 {
				margin-bottom: 40px;
			}
		}
		.iasd-highlight-apps-carousel {
			width: 100%;
		}
	}
}

