---
layout: template_apps
return_page: true
css: apps
---

<div class="iasd-apps-search">
	<div class="container">
		<h1>Resultado da busca: Lorem ipsum</h1>
	</div>
	<section class="container">
		<div class="row">
			<article class="col-md-12">
				<ul class="block-grid-md-5 block-grid-sm-4 block-grid-ls-3 block-grid-xs-2">
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
					<li class="block-grid-item">{% include widgets/app_card.html %}</li>
				</ul>
				<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
			</article>
		</div>
	</section>
</div>