---
layout: template
css: asn
---		
		<div class="container">
			<section class="row iasd-archive">
				<article class="col-md-8">
					<header>
						<h1>Dezembro 2013</h1>
					</header>
					<a href="#" title="Clique para ler o artigo completo">
						<div class="iasd-main-highlight">
							<figure>
								<img src="http://placehold.it/720x350/eee9e3/3a3a3a/&amp;text=Imagem de Destaque" alt="Título da Imagem">
							</figure>
							<figcaption>
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
								<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
							</figcaption>
						</div>
					</a>
					<div class="row">
						<div class="col-sm-6 iasd-secondary-highlight">
							<a href="#">
								<img width="345" height="218" alt="Título da imagem" class="img-responsive" src="http://placehold.it/345x218/eee9e3/3a3a3a/&text=345x218">
								<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
							<p>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
							</a>
						</div>
						<div class="col-sm-6 iasd-secondary-highlight">
							<a href="#">
								<img width="345" height="218" alt="Título da imagem" class="img-responsive" src="http://placehold.it/345x218/eee9e3/3a3a3a/&text=345x218">
								<h2>In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</h2>
								<p>Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
							</a>
						</div>
					</div>
					<h1>Artigos</h1>
					<ul>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
				</article>
				<aside class="col-md-4 visible-md visible-lg iasd-aside">
					<div class="iasd-widget iasd-widget-magazine_more">
						<h1>Assine</h1>
						<p>Mantenha-se informado a respeito dos acontecimentos da Igreja no Brasil e no mundo. Receba mensalmente mensagens que contribuirão para o seu crescimento espiritual.</p>
						<a href="http://www.cpb.com.br/produto-359-assinatura.html" target="_blank" class="btn btn-default btn-block" title="Clique aqui para assinar a revista">Clique aqui para assinar a revista</a>
					</div>
					<div class="iasd-widget iasd-widget-magazine_more">
						<h1>Acervo histórico</h1>
						<p>Conheça o projeto "Um Século de História". Acesse o acervo histórico da revista com mais de 100 anos de edições.</p>
						<a href="http://www.revistaadventista.com.br/" target="_blank" class="btn btn-default btn-block" title="Clique aqui para conhecer o projeto">Clique aqui para conhecer o projeto</a>
					</div>
				</aside>
			</section>
		</div>
